*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    /* overflow: visible; */
}
.navbar{
    color: white;
}
 .items{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    list-style-type: none;
    display: flex;   
     text-decoration: none;
} 
nav{
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    flex-wrap: wrap;
}
.brand_name{
    display: inline-block;
    font-size: x-large;
}
.nav_item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    

  }
  .container{
      background-image: url('./images/cover.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
  }
  .memberbtn{
    background-color: #23A6F0;
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: white;
  }
  .banner{
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      transform: translate(-50%, -50%);
      display: flex;
      flex-direction: column;
      /* justify-content: space-around; */
  }
  #overlay{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 100vh;
  }
  .banner_text{
      font-size: 3.6em;
      font-weight: bold;
  }
  .banner_text2{
      text-align: center;
  }
  .banner_minimum_text{
      padding-top: 20px;
      padding-bottom: 20px;

  }
  .banner_buttons{
      align-self: center;
      border: none;
     
  }
  .banner_stylebtn{
    background-color: #23A6F0;
    padding: 10px 20px;
    border: none;
    color: white;
    border-radius: 1.5em;
  }
  .banner_stylebtn2{
    padding: 10px 20px;
    color: white;
    background-color: transparent;
    border-color: white;
    border-radius: 1.5em;
  }
  .overallcards{
    display: flex;
    align-content: space-around;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 15px;
    /* z-index: 3;
    position: absolute; */
    justify-content: center;
    /* top: 94%; */
    /* height: 50vh; */


  }
  .card2{
    display: flex;
    box-shadow: 2px 2px 4px gray;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    width: 20%;
    background-color: white;
    text-align: center; 
    margin: 0px 12px;
  }
  .card1{
    display: flex;
    box-shadow: 2px 2px 4px gray;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    width: 20%;
    background-color: white;
    text-align: center; 
    margin: 0px 12px;

  }
  .icon{
      width: 15%;
      margin-left: 15px;

  }
  /* .overall_background{
      background-color: #fbfcff;
      z-index: 1;
      height: 130vh;
    } */
    .second_page{
        display: flex;
        justify-content:center;
        align-items: center;
        text-align: center;
        flex-wrap: wrap;
        margin-bottom: 70px;
        height: 50vh;
    }
    .peace_page2{
        padding: 10px 12px;
        width: 20%;
    }
    .icon2{
        width: 15%;
    }
    .industry_background{
        background-color: rgb(251, 250, 250);
        height: 200vh;
        text-align: center;

    }
    .industrytext{
        padding: 60px 20px 15px;
        font-size: xx-large;
        text-align: center;
        justify-content: center;
    }
  
    .profilepicture{
        width: 60%;
        padding-bottom: 10px;
        align-self: center;
    }
    .industrycards{
        display: flex;
        flex-direction: column;
        padding-top: 30px;
        margin: 10px 20px;
        width: 20%;
        background-color: white;
        border: 1px solid black;
    }
    .checked {
        color: orange;
      }
      .noncheck{
          opacity: .3;
     }
     .star{
         padding:15px 0px ;
     }
     .textindustrialcards{
         padding-bottom: 30px;
     }
     .companies {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-content: center;
        align-items: center;
        padding: 20px;    
     }
      .companies img {
         width: 5%;
     }