*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins';
    /* overflow: visible; */
}
.navbar{
    color: white;
}
 .items{
    /* display: flex;
    align-items: center;
    justify-content: center; */
    list-style-type: none;
    display: flex;   
     text-decoration: none;
} 
nav{
    width: 100%;
    padding-left: 30px;
    padding-right: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 15px;
    flex-wrap: wrap;
}
.brand_name{
    display: inline-block;
    font-size: x-large;
}
.nav_item a {
    display: inline-block;
    padding: 10px 15px;
    text-decoration: none;
    color: white;
    

  }
  .container{
      background-image: url('./images/cover.png');
      background-repeat: no-repeat;
      background-size: cover;
      height: 100vh;
  }
  .memberbtn{
    background-color: #23A6F0;
    padding: 10px;
    border: none;
    border-radius: 2px;
    color: white;
  }
  .try{
      position: absolute;
      top: 50%;
      left: 50%;
      color: white;
      transform: translate(-50%, -50%);
      /* display: flex;
      flex-direction: column;
      justify-content: space-around; */
  }
  #overlay{
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    height: 100vh;
  }